[submodule "letsgo-backend"]
	path = letsgo-backend
	url = git@github.com:yairdyule/letsgo-backend.git
[submodule "backend"]
	path = backend
	url = git@github.com:yairdyule/letsgo-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:yairdyule/letsgo-frontend.git
